 body {
  background-image: url('../pictures/burgerc.jpg');
  margin: 30px;
  padding: 20px;
  
  
  
 }
 .main {
   background-color: white;
   font-family: 'Staatliches', cursive;
   margin: 20px;
   padding: 20px;
 }
 .burger {
   color: red;
 }
 h2 {
   /* color: red; */
   font-size: xx-large;
 }
li {
  padding: 5px;
  margin: 5px;
  background: white;
  color: red;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background:white;
}

.form-group {
  margin-bottom: 5px;
  background-color: white;
}
